<section class="row">
    <footer class="bg-danger text-light py-4">
        <div class="container">
            <div class="row">
               
                <div class="col-md-3 mb-3">
                    <h5>DEK-C PHONE SHOP</h5>
                    <p>Your one-stop shop for the latest smartphones and accessories.</p>
                </div>
               
                <div class="col-md-3 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a class='text-light' href="index.html">Home</a></li>
                        <li><a class='text-light' href="products.html">products</a></li>
                        <li><a class='text-light' href="About us.html">About us</a></li>
                        
                        <li><a class='text-light' href="contact.html">Contact </a></li>
                    </ul>
                </div>
               
                <div class="col-md-3 mb-3">
                    <h5>Contact Us</h5>
                    
                    <p><strong>Email:</strong> support@vv.com</p>
                    <p><strong>Phone:</strong> +855(123) 123-123</p>
                    <p><strong>Address:</strong> nv pp yg ng</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5>follow us</h5>
                        <a href="" class="text-light me-3"><i class="bi bi-facebook"></i> <img src="../static/images/fb.png" alt="" width ="30" height="30"></a>
                        <a href="" class="text-light me-3"><i class="bi bi-twitter"></i><img src="../static/images/x.png" alt="" width ="30" height="30"> </a>
                        <a href="" class="text-light"><i class="bi bi-instagram"></i><img src="/static/images/in.png" alt="" width ="30" height="30"> </a>
                    </div>
                </div>
            </div>
            <hr class="m-5" style="height: 10px; color: black;">
            <div class="text-center mt-4">
                <p>&copy;  All Rights Reserved|privacy policy</p>
            </div>
        </div>
    </footer>

</section>