<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">jumiaa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">upload</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/fashion">fashion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/uploadfashion">upload fashion</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              uploads
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/fashion">upload products</a></li>
              <li><a class="dropdown-item" href="/uploadfashion">fashion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">cosmetics</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <!-- check is session  exists -->
          <!-- if it exist the user should not see the login and register buttons -->
          <!-- user is supposed to see the email and a logout button -->
          {% if session['key'] %}
          <!-- user exists -->
                 <b class="text-info"> logged in:{{ session['key'] }}</b>
                 <a href="/logout" class=" btn btn-outline-info">logout</a>

          {%  else %}

          <!-- user does not exist -->

                 <a class=" btn btn-outline-primary" href="/login">Login</a>
                 <a class=" btn btn-primary" href="/register">Register</a>
          {%  endif %}
          

        
          

        </form>
      </div>
    </div>
  </nav>



  