<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
   <!-- include the navbar  -->
   {%  include 'navbar.html'%}

   <br>
   <section class="row">
    <div class="col-md-6 ms-5">
        <div class="card shadow p-5">
            <b class="text-success">{{ message }}</b>
            <b class="text-danger">{{ error }}</b>
            <h1 class="text-danger">Upload your fashion</h1>
            <form action="/uploadfashion" method="post" enctype="multipart/form-data">
                <label for=""> Product Name</label>
                <input type="text" class="form-control" name="product_name" required/>
                <br>
                <label for=""> Product description</label>
                <textarea name="product_desc" id="" cols="30" rows="10" class="form-control" required></textarea>
                <br>
                <label for=""> Product cost</label>
                <input type="number" class="form-control"name="product_cost" required>
                <br>
                <label for=""> fashion category</label>
                <select name="product_category" id="" class="form-control" required>
                <option value="dresses">Dresses</option>
                <option value="handbags">Hand bags</option>
                <option value="socks">socks</option>
                <option value="cap">caps</option>
                <option value="belt">belts</option>
            </select>
            <br>
            <label for="">product image</label>
            <input type="file" class="form-control" name="product_image_name" required><br>
            <input type="submit" class="btn btn-primary" value="Upload/add products">


            </form>
        </div>
    </div>
   </section>

</body>
</html>
</body>
</html>